In [ ]:
for n in range(2000,3201):
    if n%7==0:
     print(n)

In [9]:
num=int(input("enter a number: "))
if num < 0:
   print("factorial does not exist for negative numbers !!")
elif num == 0:
   print("The factorial of 0 is 1")
else:
  for i in range(1,num + 1):
    factorial = factorial*i
print("The factorial of",num,"is",factorial)

In [113]:
n= int(input("enter a number: "))
dicto={}
if n<1:
  print("error, enter a number >1 !")
else:
 for i in range(1,n+1):
    key= i
    value=i*i
    dicto[key]=value
dicto

enter a number: 5

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [127]:
val = input("Enter your value: ")
n=input("enter the position of the char to remove: ")
if n in range(0,len(val)-1):
   l=list(val)
   l[n]=""
   print(l)

Enter your value: kopj
enter the position of the char to remove: 2

In [111]:
import numpy as np
a = np.array([[0,1],[2,3],[4,5]])
print(a.tolist())

[[0, 1], [2, 3], [4, 5]]

In [95]:
import numpy as np
a = np.array([0,1,2])
b = np.array([2,1,0])
np.cov(a,b)

array([[ 1., -1.],
       [-1.,  1.]])

In [7]:
from math import*
def fct(param1,param2,param3):
  c=int(50)
  h=int(30)
  q1=str(round(sqrt((2*c*+param1)/h)))
  q2=str(round(sqrt((2*c*+param2)/h)))
  q3=str(round(sqrt((2*c*+param3)/h)))
  ch=str(q1)+","+str(q2)+","+str(q3)
  return ch 
a=input("enter la sequence des valeurs separés par virgules : ")
seq=a.split(",")
res=fct(int(seq[0]),int(seq[1]),int(seq[2]))
print(res)

enter la sequence des valeurs separés par virgules : 12,15,25
6,7,9